@import './../../App.scss';
.container {
  width: 768px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 10px;
  flex-grow: 0;
}

.inputMessage {
  flex: 1 1 100%;
  border: 5px solid $main-border-color;
  padding: 5px;
  resize: none;
  height: 70px;
  margin-right: 20px;
  border-radius: 5px;

}

.sendMessage {
  cursor: pointer;
  height: 70px;
  width: 90px;
  background-color: $main-color;
  border: none;
  border-radius: 5px;
}

