body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

* {
  box-sizing: border-box;
}


$main-color: rgb(255, 193, 5);
$secondary-color: rgb(111, 194, 3);

$main-border-color: rgb(122, 119, 119);


