.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  padding: 1.25rem 1.25rem 1.75rem;
  width: 500px;
  border: 1px solid rgba(#000, .2);
  border-radius :0.3rem;
  box-shadow: 0 .25rem .5rem rgba(#000, .5)
}