@import './../../App.scss';

.container {
  border-top: 1px solid black;
  padding: 5px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  flex-grow: 0;
  max-height: 35px;
}