.container {
  width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-height: 55px;
}

.image {
  max-width: 150px;
}