@import './../../App.scss';
.header {
  margin-bottom: 5px;
  width: 768px;
  margin: 0 auto;
  flex-grow: 0;
  margin-bottom: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px 0;
  font-weight: bold;
}

p {
  margin: 0;
}