.header {
  text-align: center;
  border-bottom:  1px solid rgba(#000, .2);
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  padding: .375rem 2.5rem;
}