.container {
  width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 20px;
  padding-top: 10px;
}

.header {
  text-align: center;
  border-bottom:  1px solid rgba(#000, .2);
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
  flex-grow: 0;
}

.formGroup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-grow: 0;
}

.inputLabel {
  flex-grow: 0;
}

.messageInput {
  resize: none;
  flex-grow: 1;
}

.button {
  padding: .375rem 2.5rem;
}

